
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
    }

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #232323;

}
h1{
    font-size: 90px;

}

.container{
    text-align: center;
    margin-top: 50px;
}
table{
    margin: auto;
}
input{
    border: 3px solid;
    font-size: 30px;
    background-color: rgb(97, 93, 93);
    height: 40px;
    width: 380px;
    border-radius: 10px;

}

button{
    color: white;
    font-size: 30px;
    position: relative;
    display: inline-block;
    height: 80px;
    width: 80px;
    padding: 8px 15px;
    background-color: blue;
    animation: animate 3s linear infinite;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
}

button::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0004;
    
}


@keyframes animate{
    0%{

        filter: blur(1px) hue-rotate(0deg);
        text-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 40px red,
        0 0 80px red,
        0 0 100px red,
        0 0 200px red,
        0 0 300px red,
        0 0 400px red;
    }
    100%{
    
        filter: blur(1px)  hue-rotate(360deg);
        text-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 40px red,
        0 0 80px red,
        0 0 100px red,
        0 0 200px red,
        0 0 300px red,
        0 0 400px red;;
    }
}